.item {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #eee;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
}

.item:hover {
  cursor: pointer;
  background: #d6d6d6;
  transition: background 0.2s;
}

.deleteButton {
  margin-left: 10px;
  border: 2px solid red;
  color: red;
}

.deleteButton:hover {
  background: red;
  color: white;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.changeButton {
  background: rgb(204, 204, 204);
}

.changeButton:hover {
  background-color: #777777;
  color: white;
  cursor: pointer;
}
